node-red/flows/fuxa-mqtt-integration.json
{
  "id": "fuxa-mqtt-integration",
  "label": "FUXA MQTT Integration",
  "nodes": [
    {
      "id": "fuxa-mqtt-broker",
      "type": "mqtt-broker",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA MQTT Broker",
      "broker": "mosquitto",
      "port": "1883",
      "clientid": "node-red-fuxa-integration",
      "usetls": false,
      "compatmode": true,
      "keepalive": "60",
      "cleansession": true,
      "birthTopic": "system/node-red/fuxa/status",
      "birthQos": "1",
      "birthPayload": "online",
      "birthMsg": {},
      "closeTopic": "system/node-red/fuxa/status",
      "closeQos": "1",
      "closePayload": "offline",
      "closeMsg": {},
      "willTopic": "system/node-red/fuxa/status",
      "willQos": "1",
      "willPayload": "offline",
      "willMsg": {},
      "userProps": "",
      "sessionExpiry": ""
    },
    {
      "id": "fuxa-pv-data-publisher",
      "type": "mqtt out",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA PV Data Publisher",
      "topic": "renewable/pv/panel_01/power",
      "qos": "1",
      "retain": false,
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "fuxa-mqtt-broker",
      "x": 650,
      "y": 100,
      "wires": []
    },
    {
      "id": "fuxa-wind-data-publisher",
      "type": "mqtt out",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA Wind Data Publisher",
      "topic": "renewable/wind/turbine_01/power",
      "qos": "1",
      "retain": false,
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "fuxa-mqtt-broker",
      "x": 650,
      "y": 160,
      "wires": []
    },
    {
      "id": "fuxa-biogas-data-publisher",
      "type": "mqtt out",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA Biogas Data Publisher",
      "topic": "renewable/biogas/plant_01/gas_flow",
      "qos": "1",
      "retain": false,
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "fuxa-mqtt-broker",
      "x": 650,
      "y": 220,
      "wires": []
    },
    {
      "id": "fuxa-boiler-data-publisher",
      "type": "mqtt out",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA Boiler Data Publisher",
      "topic": "renewable/boiler/boiler_01/temperature",
      "qos": "1",
      "retain": false,
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "fuxa-mqtt-broker",
      "x": 650,
      "y": 280,
      "wires": []
    },
    {
      "id": "fuxa-storage-data-publisher",
      "type": "mqtt out",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA Storage Data Publisher",
      "topic": "renewable/storage/battery_01/soc",
      "qos": "1",
      "retain": false,
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "fuxa-mqtt-broker",
      "x": 650,
      "y": 340,
      "wires": []
    },
    {
      "id": "fuxa-data-processor",
      "type": "function",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA Data Processor",
      "func": "// Process incoming renewable energy data and format for FUXA\nconst deviceType = msg.device_type || 'unknown';\nconst deviceId = msg.device_id || 'unknown';\nconst dataType = msg.data_type || 'value';\nconst value = msg.value || msg.payload;\nconst timestamp = msg.timestamp || new Date().toISOString();\n\n// Create FUXA-compatible message format\nconst fuxaMessage = {\n    value: value,\n    timestamp: timestamp,\n    quality: 'good',\n    device_type: deviceType,\n    device_id: deviceId,\n    data_type: dataType\n};\n\n// Set topic for FUXA\nmsg.topic = `renewable/${deviceType}/${deviceId}/${dataType}`;\nmsg.payload = fuxaMessage;\n\n// Add metadata for FUXA\nmsg.fuxa = {\n    device_type: deviceType,\n    device_id: deviceId,\n    data_type: dataType,\n    value: value,\n    timestamp: timestamp\n};\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 450,
      "y": 220,
      "wires": [["fuxa-mqtt-router"]]
    },
    {
      "id": "fuxa-mqtt-router",
      "type": "switch",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA MQTT Router",
      "property": "fuxa.device_type",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "pv",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "wind",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "biogas",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "boiler",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "storage",
          "vt": "str"
        }
      ],
      "checkall": "false",
      "repair": false,
      "outputs": 5,
      "x": 550,
      "y": 220,
      "wires": [
        ["fuxa-pv-data-publisher"],
        ["fuxa-wind-data-publisher"],
        ["fuxa-biogas-data-publisher"],
        ["fuxa-boiler-data-publisher"],
        ["fuxa-storage-data-publisher"]
      ]
    },
    {
      "id": "fuxa-control-subscriber",
      "type": "mqtt in",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA Control Commands",
      "topic": "renewable/control/+/+/+",
      "qos": "1",
      "datatype": "json",
      "broker": "fuxa-mqtt-broker",
      "nl": false,
      "rap": true,
      "rh": 0,
      "inputs": 0,
      "x": 150,
      "y": 400,
      "wires": [["fuxa-control-processor"]]
    },
    {
      "id": "fuxa-control-processor",
      "type": "function",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA Control Processor",
      "func": "// Process control commands from FUXA\nconst topic = msg.topic;\nconst payload = msg.payload;\n\n// Parse topic: renewable/control/{device_type}/{device_id}/{command}\nconst topicParts = topic.split('/');\nconst deviceType = topicParts[2];\nconst deviceId = topicParts[3];\nconst command = topicParts[4];\n\n// Create control message\nconst controlMessage = {\n    device_type: deviceType,\n    device_id: deviceId,\n    command: command,\n    value: payload.value || payload,\n    timestamp: new Date().toISOString(),\n    source: 'fuxa'\n};\n\n// Log control command\nnode.log(`FUXA Control Command: ${deviceType}/${deviceId}/${command} = ${JSON.stringify(payload)}`);\n\n// Set output message\nmsg.payload = controlMessage;\nmsg.topic = `control/${deviceType}/${deviceId}/${command}`;\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 350,
      "y": 400,
      "wires": [["fuxa-control-logger"]]
    },
    {
      "id": "fuxa-control-logger",
      "type": "debug",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA Control Logger",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 550,
      "y": 400,
      "wires": []
    },
    {
      "id": "fuxa-alarm-publisher",
      "type": "mqtt out",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA Alarm Publisher",
      "topic": "renewable/alarms/+/+/+",
      "qos": "1",
      "retain": true,
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "fuxa-mqtt-broker",
      "x": 650,
      "y": 500,
      "wires": []
    },
    {
      "id": "fuxa-alarm-processor",
      "type": "function",
      "z": "fuxa-mqtt-integration",
      "name": "FUXA Alarm Processor",
      "func": "// Process alarms for FUXA display\nconst deviceType = msg.device_type || 'unknown';\nconst deviceId = msg.device_id || 'unknown';\nconst alarmType = msg.alarm_type || 'general';\nconst severity = msg.severity || 'warning';\nconst message = msg.message || 'Alarm triggered';\nconst timestamp = msg.timestamp || new Date().toISOString();\n\n// Create FUXA alarm message\nconst alarmMessage = {\n    severity: severity,\n    message: message,\n    timestamp: timestamp,\n    acknowledged: false,\n    device_type: deviceType,\n    device_id: deviceId,\n    alarm_type: alarmType\n};\n\n// Set topic for FUXA alarms\nmsg.topic = `renewable/alarms/${deviceType}/${deviceId}/${alarmType}`;\nmsg.payload = alarmMessage;\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 450,
      "y": 500,
      "wires": [["fuxa-alarm-publisher"]]
    }
  ],
  "configs": [
    {
      "id": "fuxa-mqtt-broker",
      "type": "mqtt-broker",
      "name": "FUXA MQTT Broker",
      "broker": "mosquitto",
      "port": "1883",
      "clientid": "node-red-fuxa-integration",
      "usetls": false,
      "compatmode": true,
      "keepalive": "60",
      "cleansession": true,
      "birthTopic": "system/node-red/fuxa/status",
      "birthQos": "1",
      "birthPayload": "online",
      "birthMsg": {},
      "closeTopic": "system/node-red/fuxa/status",
      "closeQos": "1",
      "closePayload": "offline",
      "closeMsg": {},
      "willTopic": "system/node-red/fuxa/status",
      "willQos": "1",
      "willPayload": "offline",
      "willMsg": {},
      "userProps": "",
      "sessionExpiry": ""
    }
  ]
}
