node-red/flows/v2.0-wind-vawt-simulation.json
[
  {
    "id": "wt-inject-30s",
    "type": "inject",
    "z": "wind-turbine-simulation",
    "name": "3s Interval",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 80,
    "wires": [
      [
        "wt-simulation-function"
      ]
    ]
  },
  {
    "id": "wt-simulation-function",
    "type": "function",
    "z": "wind-turbine-simulation",
    "name": "Turbina wiatrowa VAWT Data Generator",
    "func": "// Wind Turbine VAWT Data Simulation with strict +/-2% corridor (consecutive values)\nconst now = new Date();\n\nconst INITIAL_VALUES = {\n    \"wind_speed\": 8.0,\n    \"power_output\": 800.0,\n    \"rotor_speed\": 20.0,\n    \"blade_pitch\": 5.0,\n    \"generator_temperature\": 35.0,\n    \"efficiency\": 35.0\n};\n\nconst LIMITS = {\n    \"wind_speed\": {\n        \"min\": 0,\n        \"max\": 50\n    },\n    \"power_output\": {\n        \"min\": 0,\n        \"max\": 2500\n    },\n    \"rotor_speed\": {\n        \"min\": 0,\n        \"max\": 50\n    },\n    \"blade_pitch\": {\n        \"min\": 0,\n        \"max\": 90\n    },\n    \"generator_temperature\": {\n        \"min\": -20,\n        \"max\": 120\n    },\n    \"efficiency\": {\n        \"min\": 0,\n        \"max\": 50\n    }\n};\n\n// Initialize state to track previous values\nif (!global.state_turbine_vertical) {\n    global.state_turbine_vertical = INITIAL_VALUES;\n}\n\nconst prev = global.state_turbine_vertical;\n\n// Generate next value within +/-2% of previous value\nfunction nextValue(key) {\n    const prevVal = prev[key];\n    if (typeof prevVal !== 'number') {\n        return prevVal;\n    }\n    \n    // Calculate +/-2% corridor\n    const corridor = Math.abs(prevVal) * 0.02;\n    const change = (Math.random() - 0.5) * 2 * corridor;\n    const newVal = prevVal + change;\n    \n    // Apply physical limits\n    const limit = LIMITS[key] || {};\n    const min = typeof limit.min === 'number' ? limit.min : newVal;\n    const max = typeof limit.max === 'number' ? limit.max : newVal;\n    \n    return Math.max(min, Math.min(max, newVal));\n}\n\nfunction roundValue(value) {\n    return Math.round(value * 100) / 100;\n}\n\n// Generate data\nconst data = {};\nfor (const key of Object.keys(INITIAL_VALUES)) {\n    data[key] = roundValue(nextValue(key));\n}\n\n// Update state with new values\nglobal.state_turbine_vertical = data;\n\nconst payload = {\n    device_id: 'turbine_vertical',\n    device_type: 'wind_turbine',\n    timestamp: now.toISOString(),\n    data,\n    status: 'operational',\n    location: 'site_b',\n    fault_type: null\n};\n\nmsg.payload = payload;\nmsg.topic = 'devices/wind_turbine/turbine_vertical/telemetry';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [
      [
        "wt-mqtt-output"
      ]
    ]
  },
  {
    "id": "wt-mqtt-output",
    "type": "mqtt out",
    "z": "wind-turbine-simulation",
    "name": "MQTT Output (Publish)",
    "topic": "",
    "qos": "1",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-config",
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "wt-mqtt-input",
    "type": "mqtt in",
    "z": "wind-turbine-simulation",
    "name": "MQTT Input (Subscribe)",
    "topic": "devices/wind_turbine/+/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [
      [
        "wt-validation"
      ]
    ]
  },
  {
    "id": "wt-validation",
    "type": "function",
    "z": "wind-turbine-simulation",
    "name": "Data Validation",
    "func": "// Validate wind turbine data received from MQTT\nconst data = msg.payload;\nconst errors = [];\n\n// Check required fields\nif (!data.device_id || !data.timestamp || !data.data) {\n    errors.push('Missing required fields');\n}\n\n// Validate data ranges\nconst ranges = {\n    wind_speed: { min: 0, max: 50 },\n    power_output: { min: 0, max: 2500 },\n    rotor_speed: { min: 0, max: 50 },\n    blade_pitch: { min: 0, max: 90 },\n    generator_temperature: { min: -20, max: 120 }\n};\n\nfor (const [key, range] of Object.entries(ranges)) {\n    const value = data.data[key];\n    if (value < range.min || value > range.max) {\n        errors.push(`${key} out of range: ${value} (${range.min}-${range.max})`);\n    }\n}\n\n// Check for physical consistency\nif (data.data.wind_speed < 3 && data.data.power_output > 0) {\n    errors.push('Power output when wind speed below cut-in');\n}\n\nif (data.data.wind_speed > 25 && data.data.power_output > 0) {\n    errors.push('Power output when wind speed above cut-out');\n}\n\nif (errors.length > 0) {\n    msg.error = errors;\n    msg.status = 'invalid';\n} else {\n    msg.status = 'valid';\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [
      [
        "wt-error-handling"
      ]
    ]
  },
  {
    "id": "wt-error-handling",
    "type": "switch",
    "z": "wind-turbine-simulation",
    "name": "Error Check",
    "property": "status",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "valid",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "invalid",
        "vt": "str"
      }
    ],
    "check": "all",
    "repair": false,
    "outputs": 2,
    "x": 520,
    "y": 200,
    "wires": [
      [
        "wt-data-transformer"
      ],
      [
        "wt-error-log"
      ]
    ]
  },
  {
    "id": "wt-data-transformer",
    "type": "function",
    "z": "wind-turbine-simulation",
    "name": "Data Transformer",
    "func": "// Transform data for InfluxDB 2.x format\nconst data = msg.payload;\n\n// Ensure all numeric values are properly converted\nconst windSpeed = parseFloat(data.data.wind_speed) || 0;\nconst powerOutput = parseFloat(data.data.power_output) || 0;\nconst rotorSpeed = parseFloat(data.data.rotor_speed) || 0;\nconst bladePitch = parseFloat(data.data.blade_pitch) || 0;\nconst generatorTemp = parseFloat(data.data.generator_temperature) || 0;\n\n// Use simulated efficiency (already in ±2% corridor)\nconst efficiency = parseFloat(data.data.efficiency) || 35.0;\n\n// The Node-RED InfluxDB output node expects fields directly in the payload\n// and tags as separate message properties\nmsg.payload = {\n    wind_speed: windSpeed,\n    power_output: powerOutput,\n    rotor_speed: rotorSpeed,\n    blade_pitch: bladePitch,\n    generator_temperature: generatorTemp,\n    efficiency: efficiency\n};\n\n// Set tags as message properties\nmsg.device_id = data.device_id;\nmsg.device_type = data.device_type;\nmsg.location = data.location || 'unknown';\nmsg.status = data.status || 'operational';\n\n// Set timestamp\nmsg.timestamp = new Date(data.timestamp).getTime();\n\n// Add debug information\nnode.log('✅ Wind turbine data transformed for InfluxDB:');\nnode.log('  - Wind Speed: ' + windSpeed + ' m/s');\nnode.log('  - Power Output: ' + powerOutput + ' W');\nnode.log('  - Rotor Speed: ' + rotorSpeed + ' RPM');\nnode.log('  - Blade Pitch: ' + bladePitch + ' °');\nnode.log('  - Generator Temp: ' + generatorTemp + ' °C');\nnode.log('  - Efficiency: ' + efficiency + ' %');\nnode.log('  - Fields count: ' + Object.keys(msg.payload).length);\nnode.log('  - Tags: device_id=' + msg.device_id + ', device_type=' + msg.device_type);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 160,
    "wires": [
      [
        "wt-influxdb-writer",
        "wt-success-log"
      ]
    ]
  },
  {
    "id": "wt-influxdb-writer",
    "type": "influxdb out",
    "z": "wind-turbine-simulation",
    "influxdb": "influxdb-config",
    "name": "InfluxDB Writer",
    "measurement": "wind_turbine_data",
    "precision": "ms",
    "precisionV18FluxV20": "ms",
    "org": "renewable_energy_org",
    "bucket": "renewable_energy",
    "tags": "device_id={{device_id}},device_type={{device_type}},location={{location}},status={{status}}",
    "x": 720,
    "y": 160,
    "wires": [
      [
        "wt-success-log"
      ]
    ]
  },
  {
    "id": "wt-success-log",
    "type": "debug",
    "z": "wind-turbine-simulation",
    "name": "Wind Turbine Success Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 920,
    "y": 160,
    "wires": []
  },
  {
    "id": "wt-error-log",
    "type": "debug",
    "z": "wind-turbine-simulation",
    "name": "Error Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 200,
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "influxdb-config",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "name": "InfluxDB",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false,
    "token": "renewable_energy_admin_token_123",
    "organization": "renewable_energy_org",
    "bucket": "renewable_energy"
  }
]