node-red/flows/v2.0-biogas-plant-simulation.json
[
  {
    "id": "bg-inject-30s",
    "type": "inject",
    "z": "biogas-plant-simulation",
    "name": "3s Interval",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 80,
    "wires": [
      [
        "bg-simulation-function"
      ]
    ]
  },
  {
    "id": "bg-simulation-function",
    "type": "function",
    "z": "biogas-plant-simulation",
    "name": "Biogazownia Data Generator",
    "func": "// Biogas Plant Data Simulation with strict +/-2% corridor\nconst now = new Date();\n\nconst BASE_VALUES = {\n    \"temperature\": 35,\n    \"ph\": 7.2,\n    \"gas_flow_rate\": 50,\n    \"methane_concentration\": 65,\n    \"pressure\": 1.2,\n    \"energy_content\": 6.5\n};\n\nconst LIMITS = {\n    \"temperature\": {\n        \"min\": 20,\n        \"max\": 60\n    },\n    \"ph\": {\n        \"min\": 6,\n        \"max\": 8.5\n    },\n    \"gas_flow_rate\": {\n        \"min\": 0,\n        \"max\": 100\n    },\n    \"methane_concentration\": {\n        \"min\": 40,\n        \"max\": 85\n    },\n    \"pressure\": {\n        \"min\": 0.5,\n        \"max\": 2\n    },\n    \"energy_content\": {\n        \"min\": 4,\n        \"max\": 8\n    }\n};\n\nfunction randomWithinCorridor(key) {\n    const base = BASE_VALUES[key];\n    if (typeof base !== 'number') {\n        return base;\n    }\n    const corridor = Math.abs(base) * 0.02;\n    const limit = LIMITS[key] || {};\n    const min = typeof limit.min === 'number' ? limit.min : base - corridor;\n    const max = typeof limit.max === 'number' ? limit.max : base + corridor;\n    const noise = corridor === 0 ? 0 : (Math.random() - 0.5) * 2 * corridor;\n    const value = base + noise;\n    return Math.max(min, Math.min(max, value));\n}\n\nfunction roundValue(value) {\n    return Math.round(value * 100) / 100;\n}\n\nconst data = {};\nfor (const key of Object.keys(BASE_VALUES)) {\n    data[key] = roundValue(randomWithinCorridor(key));\n}\n\nconst payload = {\n    device_id: 'biogas',\n    device_type: 'biogas_plant',\n    timestamp: now.toISOString(),\n    data,\n    status: 'operational',\n    location: 'site_c',\n    fault_type: null\n};\n\nmsg.payload = payload;\nmsg.topic = 'devices/biogas_plant/biogas/telemetry';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [
      [
        "bg-mqtt-output"
      ]
    ]
  },
  {
    "id": "bg-mqtt-output",
    "type": "mqtt out",
    "z": "biogas-plant-simulation",
    "name": "MQTT Output (Publish)",
    "topic": "",
    "qos": "1",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-config",
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "bg-mqtt-input",
    "type": "mqtt in",
    "z": "biogas-plant-simulation",
    "name": "MQTT Input (Subscribe)",
    "topic": "devices/biogas_plant/+/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [
      [
        "bg-validation"
      ]
    ]
  },
  {
    "id": "bg-validation",
    "type": "function",
    "z": "biogas-plant-simulation",
    "name": "Data Validation",
    "func": "// Validate biogas plant data received from MQTT\nconst data = msg.payload;\nconst errors = [];\n\n// Check required fields\nif (!data.device_id || !data.timestamp || !data.data) {\n    errors.push('Missing required fields');\n}\n\n// Validate data ranges\nconst ranges = {\n    temperature: { min: 20, max: 60 },\n    ph: { min: 6.0, max: 8.5 },\n    gas_flow_rate: { min: 0, max: 100 },\n    methane_concentration: { min: 40, max: 85 },\n    pressure: { min: 0.5, max: 2.0 },\n    energy_content: { min: 4.0, max: 8.0 }\n};\n\nfor (const [key, range] of Object.entries(ranges)) {\n    const value = data.data[key];\n    if (value < range.min || value > range.max) {\n        errors.push(`${key} out of range: ${value} (${range.min}-${range.max})`);\n    }\n}\n\n// Check for physical consistency\nif (data.data.methane_concentration < 50 && data.data.gas_flow_rate > 20) {\n    errors.push('High gas flow with low methane concentration');\n}\n\nif (data.data.pressure < 0.8 && data.data.gas_flow_rate > 30) {\n    errors.push('High gas flow with low pressure');\n}\n\nif (errors.length > 0) {\n    msg.error = errors;\n    msg.status = 'invalid';\n} else {\n    msg.status = 'valid';\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [
      [
        "bg-error-handling"
      ]
    ]
  },
  {
    "id": "bg-error-handling",
    "type": "switch",
    "z": "biogas-plant-simulation",
    "name": "Error Check",
    "property": "status",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "valid",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "invalid",
        "vt": "str"
      }
    ],
    "check": "all",
    "repair": false,
    "outputs": 2,
    "x": 520,
    "y": 200,
    "wires": [
      [
        "bg-data-transformer"
      ],
      [
        "bg-error-log"
      ]
    ]
  },
  {
    "id": "bg-data-transformer",
    "type": "function",
    "z": "biogas-plant-simulation",
    "name": "Data Transformer",
    "func": "// Transform data for InfluxDB 2.x format\nconst data = msg.payload;\n\n// Ensure all numeric values are properly converted\nconst temperature = parseFloat(data.data.temperature) || 0;\nconst ph = parseFloat(data.data.ph) || 0;\nconst gasFlowRate = parseFloat(data.data.gas_flow_rate) || 0;\nconst methaneConcentration = parseFloat(data.data.methane_concentration) || 0;\nconst pressure = parseFloat(data.data.pressure) || 0;\nconst energyContent = parseFloat(data.data.energy_content) || 0;\n\n// Calculate efficiency if not provided\nconst efficiency = data.data.efficiency ? parseFloat(data.data.efficiency) : \n    (gasFlowRate > 0 && methaneConcentration > 50) ? (methaneConcentration / 65) * 100 : 0;\n\n// The Node-RED InfluxDB output node expects fields directly in the payload\n// and tags as separate message properties\nmsg.payload = {\n    temperature: temperature,\n    ph: ph,\n    gas_flow_rate: gasFlowRate,\n    methane_concentration: methaneConcentration,\n    pressure: pressure,\n    energy_content: energyContent,\n    efficiency: efficiency\n};\n\n// Set tags as message properties\nmsg.device_id = data.device_id;\nmsg.device_type = data.device_type;\nmsg.location = data.location || 'unknown';\nmsg.status = data.status || 'operational';\n\n// Set timestamp\nmsg.timestamp = new Date(data.timestamp).getTime();\n\n// Add debug information\nnode.log('✅ Biogas plant data transformed for InfluxDB:');\nnode.log('  - Temperature: ' + temperature + ' °C');\nnode.log('  - pH: ' + ph);\nnode.log('  - Gas Flow Rate: ' + gasFlowRate + ' m³/h');\nnode.log('  - Methane Concentration: ' + methaneConcentration + ' %');\nnode.log('  - Pressure: ' + pressure + ' bar');\nnode.log('  - Energy Content: ' + energyContent + ' kWh/m³');\nnode.log('  - Efficiency: ' + efficiency + ' %');\nnode.log('  - Fields count: ' + Object.keys(msg.payload).length);\nnode.log('  - Tags: device_id=' + msg.device_id + ', device_type=' + msg.device_type);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 160,
    "wires": [
      [
        "bg-influxdb-writer",
        "bg-success-log"
      ]
    ]
  },
  {
    "id": "bg-influxdb-writer",
    "type": "influxdb out",
    "z": "biogas-plant-simulation",
    "influxdb": "influxdb-config",
    "name": "InfluxDB Writer",
    "measurement": "biogas_plant_data",
    "precision": "ms",
    "precisionV18FluxV20": "ms",
    "org": "renewable_energy_org",
    "bucket": "renewable_energy",
    "tags": "device_id={{device_id}},device_type={{device_type}},location={{location}},status={{status}}",
    "x": 720,
    "y": 160,
    "wires": [
      [
        "bg-success-log"
      ]
    ]
  },
  {
    "id": "bg-success-log",
    "type": "debug",
    "z": "biogas-plant-simulation",
    "name": "Biogas Plant Success Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 920,
    "y": 160,
    "wires": []
  },
  {
    "id": "bg-error-log",
    "type": "debug",
    "z": "biogas-plant-simulation",
    "name": "Error Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 200,
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "influxdb-config",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "name": "InfluxDB",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false,
    "token": "renewable_energy_admin_token_123",
    "organization": "renewable_energy_org",
    "bucket": "renewable_energy"
  }
]