node-red/flows/v2.0-engine-test-bench-simulation.json
[
  {
    "id": "etb-inject-1s",
    "type": "inject",
    "z": "engine-test-bench-simulation",
    "name": "3s Interval",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 80,
    "wires": [
      [
        "etb-simulation-function"
      ]
    ]
  },
  {
    "id": "etb-simulation-function",
    "type": "function",
    "z": "engine-test-bench-simulation",
    "name": "Stanowisko do badań silnika Data Generator",
    "func": "// Engine Test Bench Data Simulation with strict +/-2% corridor\nconst now = new Date();\n\nconst BASE_VALUES = {\n    \"engine_speed\": 1500,\n    \"torque\": 150,\n    \"power_output\": 23.57,\n    \"coolant_temperature\": 85,\n    \"oil_temperature\": 90,\n    \"exhaust_temperature\": 400,\n    \"fuel_consumption\": 15,\n    \"oil_pressure\": 4,\n    \"fuel_pressure\": 3.5,\n    \"efficiency\": 35,\n    \"load\": 50\n};\n\nconst LIMITS = {\n    \"engine_speed\": {\n        \"min\": 800,\n        \"max\": 3000\n    },\n    \"torque\": {\n        \"min\": 50,\n        \"max\": 300\n    },\n    \"power_output\": {\n        \"min\": 0,\n        \"max\": 100\n    },\n    \"coolant_temperature\": {\n        \"min\": 70,\n        \"max\": 100\n    },\n    \"oil_temperature\": {\n        \"min\": 75,\n        \"max\": 110\n    },\n    \"exhaust_temperature\": {\n        \"min\": 300,\n        \"max\": 600\n    },\n    \"fuel_consumption\": {\n        \"min\": 5,\n        \"max\": 30\n    },\n    \"oil_pressure\": {\n        \"min\": 2,\n        \"max\": 6\n    },\n    \"fuel_pressure\": {\n        \"min\": 2.5,\n        \"max\": 4.5\n    },\n    \"efficiency\": {\n        \"min\": 25,\n        \"max\": 45\n    },\n    \"load\": {\n        \"min\": 0,\n        \"max\": 100\n    }\n};\n\nfunction randomWithinCorridor(key) {\n    const base = BASE_VALUES[key];\n    if (typeof base !== 'number') {\n        return base;\n    }\n    const corridor = Math.abs(base) * 0.02;\n    const limit = LIMITS[key] || {};\n    const min = typeof limit.min === 'number' ? limit.min : base - corridor;\n    const max = typeof limit.max === 'number' ? limit.max : base + corridor;\n    const noise = corridor === 0 ? 0 : (Math.random() - 0.5) * 2 * corridor;\n    const value = base + noise;\n    return Math.max(min, Math.min(max, value));\n}\n\nfunction roundValue(value) {\n    return Math.round(value * 100) / 100;\n}\n\nconst data = {};\nfor (const key of Object.keys(BASE_VALUES)) {\n    data[key] = roundValue(randomWithinCorridor(key));\n}\n\nconst payload = {\n    device_id: 'engine_bench',\n    device_type: 'engine_test_bench',\n    timestamp: now.toISOString(),\n    data,\n    status: 'operational',\n    location: 'site_e',\n    fault_type: null\n};\n\nmsg.payload = payload;\nmsg.topic = 'devices/engine_test_bench/engine_bench/telemetry';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [
      [
        "etb-mqtt-output"
      ]
    ]
  },
  {
    "id": "etb-mqtt-output",
    "type": "mqtt out",
    "z": "engine-test-bench-simulation",
    "name": "MQTT Output (Publish)",
    "topic": "",
    "qos": "1",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-config",
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "etb-mqtt-input",
    "type": "mqtt in",
    "z": "engine-test-bench-simulation",
    "name": "MQTT Input (Subscribe)",
    "topic": "devices/engine_test_bench/+/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [
      [
        "etb-validation"
      ]
    ]
  },
  {
    "id": "etb-validation",
    "type": "function",
    "z": "engine-test-bench-simulation",
    "name": "Data Validation",
    "func": "// Validate engine test bench data received from MQTT\nconst data = msg.payload;\nconst errors = [];\n\n// Check required fields\nif (!data.device_id || !data.timestamp || !data.data) {\n    errors.push('Missing required fields');\n}\n\n// Validate data ranges\nconst ranges = {\n    engine_speed: { min: 500, max: 3500 },\n    torque: { min: 0, max: 500 },\n    power_output: { min: 0, max: 200 },\n    coolant_temperature: { min: 60, max: 110 },\n    oil_temperature: { min: 70, max: 120 },\n    exhaust_temperature: { min: 200, max: 700 },\n    fuel_consumption: { min: 0, max: 50 },\n    oil_pressure: { min: 1.5, max: 7.0 },\n    fuel_pressure: { min: 2.0, max: 5.0 },\n    efficiency: { min: 20, max: 50 },\n    load: { min: 0, max: 100 }\n};\n\nfor (const [key, range] of Object.entries(ranges)) {\n    const value = data.data[key];\n    if (value < range.min || value > range.max) {\n        errors.push(`${key} out of range: ${value} (${range.min}-${range.max})`);\n    }\n}\n\n// Check for physical consistency\nif (data.data.oil_temperature < data.data.coolant_temperature) {\n    errors.push('Oil temperature below coolant temperature');\n}\n\nif (data.data.exhaust_temperature < data.data.coolant_temperature) {\n    errors.push('Exhaust temperature below coolant temperature');\n}\n\nif (data.data.efficiency > 50) {\n    errors.push('Efficiency exceeds realistic maximum for diesel engine');\n}\n\nif (data.data.oil_pressure < 2.0 && data.data.engine_speed > 2000) {\n    errors.push('Low oil pressure at high engine speed');\n}\n\nif (errors.length > 0) {\n    msg.error = errors;\n    msg.status = 'invalid';\n} else {\n    msg.status = 'valid';\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [
      [
        "etb-error-handling"
      ]
    ]
  },
  {
    "id": "etb-error-handling",
    "type": "switch",
    "z": "engine-test-bench-simulation",
    "name": "Error Check",
    "property": "status",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "valid",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "invalid",
        "vt": "str"
      }
    ],
    "check": "all",
    "repair": false,
    "outputs": 2,
    "x": 520,
    "y": 200,
    "wires": [
      [
        "etb-data-transformer"
      ],
      [
        "etb-error-log"
      ]
    ]
  },
  {
    "id": "etb-data-transformer",
    "type": "function",
    "z": "engine-test-bench-simulation",
    "name": "Data Transformer",
    "func": "// Transform data for InfluxDB 2.x format\nconst data = msg.payload;\n\n// Ensure all numeric values are properly converted\nconst engineSpeed = parseFloat(data.data.engine_speed) || 0;\nconst torque = parseFloat(data.data.torque) || 0;\nconst powerOutput = parseFloat(data.data.power_output) || 0;\nconst coolantTemp = parseFloat(data.data.coolant_temperature) || 0;\nconst oilTemp = parseFloat(data.data.oil_temperature) || 0;\nconst exhaustTemp = parseFloat(data.data.exhaust_temperature) || 0;\nconst fuelConsumption = parseFloat(data.data.fuel_consumption) || 0;\nconst oilPressure = parseFloat(data.data.oil_pressure) || 0;\nconst fuelPressure = parseFloat(data.data.fuel_pressure) || 0;\nconst efficiency = parseFloat(data.data.efficiency) || 0;\nconst load = parseFloat(data.data.load) || 0;\n\n// The Node-RED InfluxDB output node expects fields directly in the payload\n// and tags as separate message properties\nmsg.payload = {\n    engine_speed: engineSpeed,\n    torque: torque,\n    power_output: powerOutput,\n    coolant_temperature: coolantTemp,\n    oil_temperature: oilTemp,\n    exhaust_temperature: exhaustTemp,\n    fuel_consumption: fuelConsumption,\n    oil_pressure: oilPressure,\n    fuel_pressure: fuelPressure,\n    efficiency: efficiency,\n    load: load\n};\n\n// Set tags as message properties\nmsg.device_id = data.device_id;\nmsg.device_type = data.device_type;\nmsg.location = data.location || 'unknown';\nmsg.status = data.status || 'operational';\n\n// Set timestamp\nmsg.timestamp = new Date(data.timestamp).getTime();\n\n// Add debug information\nnode.log('✅ Engine test bench data transformed for InfluxDB:');\nnode.log('  - Engine Speed: ' + engineSpeed + ' RPM');\nnode.log('  - Torque: ' + torque + ' Nm');\nnode.log('  - Power Output: ' + powerOutput + ' kW');\nnode.log('  - Coolant Temperature: ' + coolantTemp + ' °C');\nnode.log('  - Oil Temperature: ' + oilTemp + ' °C');\nnode.log('  - Exhaust Temperature: ' + exhaustTemp + ' °C');\nnode.log('  - Fuel Consumption: ' + fuelConsumption + ' L/h');\nnode.log('  - Oil Pressure: ' + oilPressure + ' bar');\nnode.log('  - Fuel Pressure: ' + fuelPressure + ' bar');\nnode.log('  - Efficiency: ' + efficiency + ' %');\nnode.log('  - Load: ' + load + ' %');\nnode.log('  - Fields count: ' + Object.keys(msg.payload).length);\nnode.log('  - Tags: device_id=' + msg.device_id + ', device_type=' + msg.device_type);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 160,
    "wires": [
      [
        "etb-influxdb-writer",
        "etb-success-log"
      ]
    ]
  },
  {
    "id": "etb-influxdb-writer",
    "type": "influxdb out",
    "z": "engine-test-bench-simulation",
    "influxdb": "influxdb-config",
    "name": "InfluxDB Writer",
    "measurement": "engine_test_bench_data",
    "precision": "ms",
    "precisionV18FluxV20": "ms",
    "org": "renewable_energy_org",
    "bucket": "renewable_energy",
    "tags": "device_id={{device_id}},device_type={{device_type}},location={{location}},status={{status}}",
    "x": 720,
    "y": 160,
    "wires": [
      [
        "etb-success-log"
      ]
    ]
  },
  {
    "id": "etb-success-log",
    "type": "debug",
    "z": "engine-test-bench-simulation",
    "name": "Engine Test Bench Success Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 920,
    "y": 160,
    "wires": []
  },
  {
    "id": "etb-error-log",
    "type": "debug",
    "z": "engine-test-bench-simulation",
    "name": "Error Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 200,
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "influxdb-config",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "name": "InfluxDB",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false,
    "token": "renewable_energy_admin_token_123",
    "organization": "renewable_energy_org",
    "bucket": "renewable_energy"
  }
]