node-red/flows/v2.0-pv-hybrid-simulation.json
[
  {
    "id": "pv-panels-inject",
    "type": "inject",
    "z": "pv-panels-simulation",
    "name": "3s Interval",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 80,
    "wires": [
      [
        "pv-panels-simulation-function"
      ]
    ]
  },
  {
    "id": "pv-panels-simulation-function",
    "type": "function",
    "z": "pv-panels-simulation",
    "name": "Panele fotowoltaiczne Data Generator",
    "func": "// PV Hybrid Panels Data Simulation with strict +/-2% corridor (consecutive values)\nconst now = new Date();\n\nconst INITIAL_VALUES = {\n    \"irradiance\": 600.0,\n    \"temperature\": 40.0,\n    \"voltage\": 48.0,\n    \"current\": 8.0,\n    \"power_output\": 384.0,\n    \"efficiency\": 16.0\n};\n\nconst LIMITS = {\n    \"irradiance\": {\n        \"min\": 0,\n        \"max\": 1200\n    },\n    \"temperature\": {\n        \"min\": -40,\n        \"max\": 100\n    },\n    \"voltage\": {\n        \"min\": 0,\n        \"max\": 100\n    },\n    \"current\": {\n        \"min\": 0,\n        \"max\": 20\n    },\n    \"power_output\": {\n        \"min\": 0,\n        \"max\": 1000\n    },\n    \"efficiency\": {\n        \"min\": 0,\n        \"max\": 25\n    }\n};\n\n// Initialize state to track previous values\nif (!global.state_pv_panels) {\n    global.state_pv_panels = INITIAL_VALUES;\n}\n\nconst prev = global.state_pv_panels;\n\n// Generate next value within +/-2% of previous value\nfunction nextValue(key) {\n    const prevVal = prev[key];\n    if (typeof prevVal !== 'number') {\n        return prevVal;\n    }\n    \n    // Calculate +/-2% corridor\n    const corridor = Math.abs(prevVal) * 0.02;\n    const change = (Math.random() - 0.5) * 2 * corridor;\n    const newVal = prevVal + change;\n    \n    // Apply physical limits\n    const limit = LIMITS[key] || {};\n    const min = typeof limit.min === 'number' ? limit.min : newVal;\n    const max = typeof limit.max === 'number' ? limit.max : newVal;\n    \n    return Math.max(min, Math.min(max, newVal));\n}\n\nfunction roundValue(value) {\n    return Math.round(value * 100) / 100;\n}\n\n// Generate data\nconst data = {};\nfor (const key of Object.keys(INITIAL_VALUES)) {\n    data[key] = roundValue(nextValue(key));\n}\n\n// Update state with new values\nglobal.state_pv_panels = data;\n\nconst payload = {\n    device_id: 'pv_panels',\n    device_type: 'photovoltaic',\n    timestamp: now.toISOString(),\n    data,\n    status: 'operational',\n    location: 'site_a',\n    fault_type: null\n};\n\nmsg.payload = payload;\nmsg.topic = 'devices/photovoltaic/pv_panels/telemetry';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [
      [
        "pv-panels-mqtt-output"
      ]
    ]
  },
  {
    "id": "pv-panels-mqtt-output",
    "type": "mqtt out",
    "z": "pv-panels-simulation",
    "name": "MQTT Output (Publish)",
    "topic": "",
    "qos": "1",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-config",
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "pv-panels-mqtt-input",
    "type": "mqtt in",
    "z": "pv-panels-simulation",
    "name": "MQTT Input (Subscribe)",
    "topic": "devices/photovoltaic/+/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [
      [
        "pv-panels-validation"
      ]
    ]
  },
  {
    "id": "pv-panels-validation",
    "type": "function",
    "z": "pv-panels-simulation",
    "name": "Data Validation",
    "func": "// Validate photovoltaic panels data received from MQTT\nconst data = msg.payload;\nconst errors = [];\n\n// Check required fields\nif (!data.device_id || !data.timestamp || !data.data) {\n    errors.push('Missing required fields');\n}\n\n// Validate data ranges\nconst ranges = {\n    irradiance: { min: 0, max: 1200 },\n    temperature: { min: -40, max: 100 },\n    voltage: { min: 0, max: 100 },\n    current: { min: 0, max: 20 },\n    power_output: { min: 0, max: 1000 }\n};\n\nfor (const [key, range] of Object.entries(ranges)) {\n    const value = data.data[key];\n    if (value < range.min || value > range.max) {\n        errors.push(`${key} out of range: ${value} (${range.min}-${range.max})`);\n    }\n}\n\n// Check for physical consistency\nif (data.data.power_output > data.data.voltage * data.data.current * 1.1) {\n    errors.push('Power output exceeds voltage * current');\n}\n\nif (errors.length > 0) {\n    msg.error = errors;\n    msg.status = 'invalid';\n} else {\n    msg.status = 'valid';\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [
      [
        "pv-panels-error-handling"
      ]
    ]
  },
  {
    "id": "pv-panels-error-handling",
    "type": "switch",
    "z": "pv-panels-simulation",
    "name": "Error Check",
    "property": "status",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "valid",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "invalid",
        "vt": "str"
      }
    ],
    "check": "all",
    "repair": false,
    "outputs": 2,
    "x": 520,
    "y": 200,
    "wires": [
      [
        "pv-panels-data-transformer"
      ],
      [
        "pv-panels-error-log"
      ]
    ]
  },
  {
    "id": "pv-panels-data-transformer",
    "type": "function",
    "z": "pv-panels-simulation",
    "name": "Data Transformer",
    "func": "// Transform data for InfluxDB 2.x format\nconst data = msg.payload;\n\n// Ensure all numeric values are properly converted\nconst irradiance = parseFloat(data.data.irradiance) || 0;\nconst temperature = parseFloat(data.data.temperature) || 0;\nconst voltage = parseFloat(data.data.voltage) || 0;\nconst current = parseFloat(data.data.current) || 0;\nconst power_output = parseFloat(data.data.power_output) || 0;\n\n// Use simulated efficiency (already in ±2% corridor)\nconst efficiency = parseFloat(data.data.efficiency) || 16.0;\n\n// The Node-RED InfluxDB output node expects fields directly in the payload\n// and tags as separate message properties\nmsg.payload = {\n    irradiance: irradiance,\n    temperature: temperature,\n    voltage: voltage,\n    current: current,\n    power_output: power_output,\n    efficiency: efficiency\n};\n\n// Set tags as message properties\nmsg.device_id = data.device_id;\nmsg.device_type = data.device_type;\nmsg.location = data.location || 'unknown';\nmsg.status = data.status || 'operational';\n\n// Set timestamp\nmsg.timestamp = new Date(data.timestamp).getTime();\n\n// Add debug information\nnode.log('✅ PV Panels data transformed for InfluxDB:');\nnode.log('  - Irradiance: ' + irradiance + ' W/m²');\nnode.log('  - Temperature: ' + temperature + ' °C');\nnode.log('  - Voltage: ' + voltage + ' V');\nnode.log('  - Current: ' + current + ' A');\nnode.log('  - Power Output: ' + power_output + ' W');\nnode.log('  - Efficiency: ' + efficiency + ' %');\nnode.log('  - Fields count: ' + Object.keys(msg.payload).length);\nnode.log('  - Tags: device_id=' + msg.device_id + ', device_type=' + msg.device_type);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 160,
    "wires": [
      [
        "pv-panels-influxdb-writer",
        "pv-panels-success-log"
      ]
    ]
  },
  {
    "id": "pv-panels-influxdb-writer",
    "type": "influxdb out",
    "z": "pv-panels-simulation",
    "influxdb": "influxdb-config",
    "name": "InfluxDB Writer",
    "measurement": "pv-hybrid",
    "precision": "ms",
    "precisionV18FluxV20": "ms",
    "org": "renewable_energy_org",
    "bucket": "renewable_energy",
    "tags": "device_id={{device_id}},device_type={{device_type}},location={{location}},status={{status}}",
    "x": 720,
    "y": 160,
    "wires": [
      [
        "pv-panels-success-log"
      ]
    ]
  },
  {
    "id": "pv-panels-success-log",
    "type": "debug",
    "z": "pv-panels-simulation",
    "name": "PV Panels Success Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 920,
    "y": 160,
    "wires": []
  },
  {
    "id": "pv-panels-error-log",
    "type": "debug",
    "z": "pv-panels-simulation",
    "name": "Error Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 200,
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "influxdb-config",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "name": "InfluxDB",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false,
    "token": "renewable_energy_admin_token_123",
    "organization": "renewable_energy_org",
    "bucket": "renewable_energy"
  }
]