node-red/flows/v2.0-algae-farm-2-simulation.json
[
  {
    "id": "big-algy-inject",
    "type": "inject",
    "z": "algae-farm-2-simulation",
    "name": "1s Interval",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 80,
    "wires": [
      [
        "big-algy-simulation-function"
      ]
    ]
  },
  {
    "id": "big-algy-simulation-function",
    "type": "function",
    "z": "algae-farm-2-simulation",
    "name": "Farma do produkcji Alg 2 Data Generator",
    "func": "// Algae Farm 2 Data Simulation\nconst now = new Date();\nconst hour = now.getHours();\nconst dayOfYear = Math.floor((now - new Date(now.getFullYear(), 0, 0)) / (1000 * 60 * 60 * 24));\n\n// Initialize global state for algae farm\nif (!global.algaeFarm2State) {\n    global.algaeFarm2State = {\n        biomass: 600, // kg/m³\n        lastUpdate: now.getTime()\n    };\n}\n\n// Temperature model (°C)\nfunction calculateTemperature() {\n    const baseTemp = 25;\n    const seasonalFactor = 1 + 0.2 * Math.sin(2 * Math.PI * (dayOfYear - 172) / 365);\n    const dailyFactor = 1 + 0.1 * Math.sin(2 * Math.PI * (hour - 12) / 24);\n    const noise = (Math.random() - 0.5) * 2;\n    return baseTemp * seasonalFactor * dailyFactor + noise;\n}\n\n// pH level model\nfunction calculatePH() {\n    const basePH = 7.5;\n    const variation = (Math.random() - 0.5) * 0.5;\n    return Math.max(6.5, Math.min(8.5, basePH + variation));\n}\n\n// Nutrient levels (mg/L)\nfunction calculateNutrients() {\n    const baseNitrogen = 18;\n    const basePhosphorus = 2.5;\n    const consumptionRate = 0.12;\n    const noise = (Math.random() - 0.5) * 1;\n    return {\n        nitrogen: Math.max(5, baseNitrogen - consumptionRate + noise),\n        phosphorus: Math.max(0.5, basePhosphorus - consumptionRate * 0.1 + noise * 0.1)\n    };\n}\n\n// Biomass production model (kg/m³/day)\nfunction calculateBiomassProduction(temperature, ph, nutrients) {\n    const optimalTemp = 25;\n    const optimalPH = 7.5;\n    const tempFactor = 1 - 0.02 * Math.abs(temperature - optimalTemp);\n    const phFactor = 1 - 0.1 * Math.abs(ph - optimalPH);\n    const nutrientFactor = Math.min(1, (nutrients.nitrogen / 18) * (nutrients.phosphorus / 2.5));\n    const baseProduction = 60; // Slightly higher for farm 2\n    const noise = (Math.random() - 0.5) * 5;\n    return Math.max(0, baseProduction * tempFactor * phFactor * nutrientFactor + noise);\n}\n\n// CO2 consumption model (g/m³/h)\nfunction calculateCO2Consumption(biomassProduction) {\n    const co2PerBiomass = 1.8; // g CO2 per g biomass\n    const noise = (Math.random() - 0.5) * 2;\n    return Math.max(0, biomassProduction * co2PerBiomass + noise);\n}\n\n// Oxygen production model (g/m³/h)\nfunction calculateOxygenProduction(biomassProduction) {\n    const o2PerBiomass = 1.2; // g O2 per g biomass\n    const noise = (Math.random() - 0.5) * 1.5;\n    return Math.max(0, biomassProduction * o2PerBiomass + noise);\n}\n\n// Growth rate model (%/day)\nfunction calculateGrowthRate(biomassProduction, currentBiomass) {\n    if (currentBiomass <= 0) return 0;\n    return (biomassProduction / currentBiomass) * 100;\n}\n\n// Generate data with fault scenarios\nfunction generateAlgaeFarm2Data() {\n    const faultProbability = 0.001;\n    const isFault = Math.random() < faultProbability;\n    \n    let temperature = calculateTemperature();\n    let ph = calculatePH();\n    let nutrients = calculateNutrients();\n    let biomassProduction = calculateBiomassProduction(temperature, ph, nutrients);\n    let co2Consumption = calculateCO2Consumption(biomassProduction);\n    let oxygenProduction = calculateOxygenProduction(biomassProduction);\n    \n    // Update biomass state\n    const timeDiff = (now.getTime() - global.algaeFarm2State.lastUpdate) / (1000 * 60 * 60 * 24);\n    global.algaeFarm2State.biomass = Math.max(100, Math.min(1200, global.algaeFarm2State.biomass + biomassProduction * timeDiff));\n    global.algaeFarm2State.lastUpdate = now.getTime();\n    \n    let growthRate = calculateGrowthRate(biomassProduction, global.algaeFarm2State.biomass);\n    \n    // Fault scenarios\n    if (isFault) {\n        const faultType = Math.floor(Math.random() * 4);\n        switch (faultType) {\n            case 0: // Temperature fault\n                temperature += 10;\n                biomassProduction *= 0.5;\n                growthRate *= 0.5;\n                break;\n            case 1: // pH imbalance\n                ph = 6.0;\n                biomassProduction *= 0.4;\n                growthRate *= 0.4;\n                break;\n            case 2: // Nutrient deficiency\n                nutrients.nitrogen *= 0.3;\n                nutrients.phosphorus *= 0.3;\n                biomassProduction *= 0.6;\n                growthRate *= 0.6;\n                break;\n            case 3: // Contamination\n                biomassProduction *= 0.3;\n                growthRate *= 0.3;\n                oxygenProduction *= 0.5;\n                break;\n        }\n    }\n    \n    return {\n        device_id: 'big_algy',\n        device_type: 'algae_farm',\n        timestamp: now.toISOString(),\n        data: {\n            temperature: Math.round(temperature * 100) / 100,\n            ph: Math.round(ph * 100) / 100,\n            nitrogen: Math.round(nutrients.nitrogen * 100) / 100,\n            phosphorus: Math.round(nutrients.phosphorus * 100) / 100,\n            biomass: Math.round(global.algaeFarm2State.biomass * 100) / 100,\n            biomass_production: Math.round(biomassProduction * 100) / 100,\n            co2_consumption: Math.round(co2Consumption * 100) / 100,\n            oxygen_production: Math.round(oxygenProduction * 100) / 100,\n            growth_rate: Math.round(growthRate * 100) / 100\n        },\n        status: isFault ? 'fault' : 'operational',\n        location: 'site_g',\n        fault_type: isFault ? ['temperature', 'ph_imbalance', 'nutrient_deficiency', 'contamination'][faultType] : null\n    };\n}\n\n// Generate and return data\nconst bigAlgyData = generateAlgaeFarm2Data();\nmsg.payload = bigAlgyData;\nmsg.topic = `devices/algae_farm/${bigAlgyData.device_id}/telemetry`;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [
      [
        "big-algy-mqtt-output"
      ]
    ]
  },
  {
    "id": "big-algy-mqtt-output",
    "type": "mqtt out",
    "z": "algae-farm-2-simulation",
    "name": "MQTT Output (Publish)",
    "topic": "",
    "qos": "1",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-config",
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "big-algy-mqtt-input",
    "type": "mqtt in",
    "z": "algae-farm-2-simulation",
    "name": "MQTT Input (Subscribe)",
    "topic": "devices/algae_farm/+/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [
      [
        "big-algy-validation"
      ]
    ]
  },
  {
    "id": "big-algy-validation",
    "type": "function",
    "z": "algae-farm-2-simulation",
    "name": "Data Validation",
    "func": "// Validate algae farm data received from MQTT\nconst data = msg.payload;\nconst errors = [];\n\n// Check required fields\nif (!data.device_id || !data.timestamp || !data.data) {\n    errors.push('Missing required fields');\n}\n\n// Validate data ranges\nconst ranges = {\n    temperature: { min: 15, max: 40 },\n    ph: { min: 6.0, max: 9.0 },\n    nitrogen: { min: 0, max: 30 },\n    phosphorus: { min: 0, max: 5 },\n    biomass: { min: 0, max: 1500 },\n    biomass_production: { min: 0, max: 100 },\n    co2_consumption: { min: 0, max: 200 },\n    oxygen_production: { min: 0, max: 150 },\n    growth_rate: { min: 0, max: 20 }\n};\n\nfor (const [key, range] of Object.entries(ranges)) {\n    const value = data.data[key];\n    if (value < range.min || value > range.max) {\n        errors.push(`${key} out of range: ${value} (${range.min}-${range.max})`);\n    }\n}\n\n// Check for physical consistency\nif (data.data.biomass_production > 0 && data.data.co2_consumption < data.data.biomass_production * 1.5) {\n    errors.push('CO2 consumption too low for biomass production');\n}\n\nif (errors.length > 0) {\n    msg.error = errors;\n    msg.status = 'invalid';\n} else {\n    msg.status = 'valid';\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [
      [
        "big-algy-error-handling"
      ]
    ]
  },
  {
    "id": "big-algy-error-handling",
    "type": "switch",
    "z": "algae-farm-2-simulation",
    "name": "Error Check",
    "property": "status",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "valid",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "invalid",
        "vt": "str"
      }
    ],
    "check": "all",
    "repair": false,
    "outputs": 2,
    "x": 520,
    "y": 200,
    "wires": [
      [
        "big-algy-data-transformer"
      ],
      [
        "big-algy-error-log"
      ]
    ]
  },
  {
    "id": "big-algy-data-transformer",
    "type": "function",
    "z": "algae-farm-2-simulation",
    "name": "Data Transformer",
    "func": "// Transform data for InfluxDB 2.x format\nconst data = msg.payload;\n\n// Ensure all numeric values are properly converted\nconst temperature = parseFloat(data.data.temperature) || 0;\nconst ph = parseFloat(data.data.ph) || 0;\nconst nitrogen = parseFloat(data.data.nitrogen) || 0;\nconst phosphorus = parseFloat(data.data.phosphorus) || 0;\nconst biomass = parseFloat(data.data.biomass) || 0;\nconst biomassProduction = parseFloat(data.data.biomass_production) || 0;\nconst co2Consumption = parseFloat(data.data.co2_consumption) || 0;\nconst oxygenProduction = parseFloat(data.data.oxygen_production) || 0;\nconst growthRate = parseFloat(data.data.growth_rate) || 0;\n\n// The Node-RED InfluxDB output node expects fields directly in the payload\n// and tags as separate message properties\nmsg.payload = {\n    temperature: temperature,\n    ph: ph,\n    nitrogen: nitrogen,\n    phosphorus: phosphorus,\n    biomass: biomass,\n    biomass_production: biomassProduction,\n    co2_consumption: co2Consumption,\n    oxygen_production: oxygenProduction,\n    growth_rate: growthRate\n};\n\n// Set tags as message properties\nmsg.device_id = data.device_id;\nmsg.device_type = data.device_type;\nmsg.location = data.location || 'unknown';\nmsg.status = data.status || 'operational';\n\n// Set timestamp\nmsg.timestamp = new Date(data.timestamp).getTime();\n\n// Add debug information\nnode.log('✅ Algae Farm 2 data transformed for InfluxDB:');\nnode.log('  - Temperature: ' + temperature + ' °C');\nnode.log('  - pH: ' + ph);\nnode.log('  - Nitrogen: ' + nitrogen + ' mg/L');\nnode.log('  - Phosphorus: ' + phosphorus + ' mg/L');\nnode.log('  - Biomass: ' + biomass + ' kg/m³');\nnode.log('  - Biomass Production: ' + biomassProduction + ' kg/m³/day');\nnode.log('  - CO2 Consumption: ' + co2Consumption + ' g/m³/h');\nnode.log('  - Oxygen Production: ' + oxygenProduction + ' g/m³/h');\nnode.log('  - Growth Rate: ' + growthRate + ' %/day');\nnode.log('  - Fields count: ' + Object.keys(msg.payload).length);\nnode.log('  - Tags: device_id=' + msg.device_id + ', device_type=' + msg.device_type);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 160,
    "wires": [
      [
        "big-algy-influxdb-writer",
        "big-algy-success-log"
      ]
    ]
  },
  {
    "id": "big-algy-influxdb-writer",
    "type": "influxdb out",
    "z": "algae-farm-2-simulation",
    "influxdb": "influxdb-config",
    "name": "InfluxDB Writer",
    "measurement": "algae_farm_data",
    "precision": "ms",
    "precisionV18FluxV20": "ms",
    "org": "renewable_energy_org",
    "bucket": "renewable_energy",
    "tags": "device_id={{device_id}},device_type={{device_type}},location={{location}},status={{status}}",
    "x": 720,
    "y": 160,
    "wires": [
      [
        "big-algy-success-log"
      ]
    ]
  },
  {
    "id": "big-algy-success-log",
    "type": "debug",
    "z": "algae-farm-2-simulation",
    "name": "Algae Farm 2 Success Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 920,
    "y": 160,
    "wires": []
  },
  {
    "id": "big-algy-error-log",
    "type": "debug",
    "z": "algae-farm-2-simulation",
    "name": "Error Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 200,
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "influxdb-config",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "name": "InfluxDB",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false,
    "token": "renewable_energy_admin_token_123",
    "organization": "renewable_energy_org",
    "bucket": "renewable_energy"
  }
]

