node-red/flows/v2.0-energy-storage-simulation.json
[
  {
    "id": "es-inject-30s",
    "type": "inject",
    "z": "energy-storage-simulation",
    "name": "3s Interval",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 80,
    "wires": [
      [
        "es-simulation-function"
      ]
    ]
  },
  {
    "id": "es-simulation-function",
    "type": "function",
    "z": "energy-storage-simulation",
    "name": "Converter & Storage Data Generator",
    "func": "// Energy Storage Data Simulation with strict +/-2% corridor (consecutive values)\nconst now = new Date();\n\nconst INITIAL_VALUES = {\n    \"temperature\": 25.0,\n    \"state_of_charge\": 50.0,\n    \"voltage\": 48.0,\n    \"current\": 10.0,\n    \"power\": 480.0,\n    \"capacity\": 100.0,\n    \"degradation\": 1.0,\n    \"efficiency\": 92.0\n};\n\nconst LIMITS = {\n    \"temperature\": {\n        \"min\": -10,\n        \"max\": 60\n    },\n    \"state_of_charge\": {\n        \"min\": 5,\n        \"max\": 100\n    },\n    \"voltage\": {\n        \"min\": 40,\n        \"max\": 60\n    },\n    \"current\": {\n        \"min\": -50,\n        \"max\": 50\n    },\n    \"power\": {\n        \"min\": -2000,\n        \"max\": 2000\n    },\n    \"capacity\": {\n        \"min\": 50,\n        \"max\": 120\n    },\n    \"degradation\": {\n        \"min\": 0.7,\n        \"max\": 1\n    },\n    \"efficiency\": {\n        \"min\": 85,\n        \"max\": 98\n    }\n};\n\n// Initialize state to track previous values\nif (!global.state_turbine_is) {\n    global.state_turbine_is = INITIAL_VALUES;\n}\n\nconst prev = global.state_turbine_is;\n\n// Generate next value within +/-2% of previous value\nfunction nextValue(key) {\n    const prevVal = prev[key];\n    if (typeof prevVal !== 'number') {\n        return prevVal;\n    }\n    \n    // Calculate +/-2% corridor\n    const corridor = Math.abs(prevVal) * 0.02;\n    const change = (Math.random() - 0.5) * 2 * corridor;\n    const newVal = prevVal + change;\n    \n    // Apply physical limits\n    const limit = LIMITS[key] || {};\n    const min = typeof limit.min === 'number' ? limit.min : newVal;\n    const max = typeof limit.max === 'number' ? limit.max : newVal;\n    \n    return Math.max(min, Math.min(max, newVal));\n}\n\nfunction roundValue(value) {\n    return Math.round(value * 100) / 100;\n}\n\n// Generate data\nconst data = {};\nfor (const key of Object.keys(INITIAL_VALUES)) {\n    data[key] = roundValue(nextValue(key));\n}\n\n// Update state with new values\nglobal.state_turbine_is = data;\n\nconst payload = {\n    device_id: 'turbine_is',\n    device_type: 'energy_storage',\n    timestamp: now.toISOString(),\n    data,\n    status: 'operational',\n    location: 'site_e',\n    fault_type: null\n};\n\nmsg.payload = payload;\nmsg.topic = 'devices/energy_storage/turbine_is/telemetry';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [
      [
        "es-mqtt-output"
      ]
    ]
  },
  {
    "id": "es-mqtt-output",
    "type": "mqtt out",
    "z": "energy-storage-simulation",
    "name": "MQTT Output (Publish)",
    "topic": "",
    "qos": "1",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-config",
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "es-mqtt-input",
    "type": "mqtt in",
    "z": "energy-storage-simulation",
    "name": "MQTT Input (Subscribe)",
    "topic": "devices/energy_storage/+/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [
      [
        "es-validation"
      ]
    ]
  },
  {
    "id": "es-validation",
    "type": "function",
    "z": "energy-storage-simulation",
    "name": "Data Validation",
    "func": "// Validate energy storage data received from MQTT\nconst data = msg.payload;\nconst errors = [];\n\n// Check required fields\nif (!data.device_id || !data.timestamp || !data.data) {\n    errors.push('Missing required fields');\n}\n\n// Validate data ranges\nconst ranges = {\n    temperature: { min: -10, max: 60 },\n    state_of_charge: { min: 5, max: 100 },\n    voltage: { min: 40, max: 60 },\n    current: { min: -50, max: 50 },\n    power: { min: -2000, max: 2000 },\n    capacity: { min: 50, max: 120 },\n    degradation: { min: 0.7, max: 1.0 }\n};\n\nfor (const [key, range] of Object.entries(ranges)) {\n    const value = data.data[key];\n    if (value < range.min || value > range.max) {\n        errors.push(`${key} out of range: ${value} (${range.min}-${range.max})`);\n    }\n}\n\n// Check for physical consistency\nif (data.data.state_of_charge < 10 && data.data.power > 0) {\n    errors.push('Charging when SOC is very low');\n}\n\nif (data.data.state_of_charge > 95 && data.data.power < 0) {\n    errors.push('Discharging when SOC is very high');\n}\n\nif (Math.abs(data.data.power - (data.data.voltage * data.data.current)) > 100) {\n    errors.push('Power calculation mismatch');\n}\n\nif (errors.length > 0) {\n    msg.error = errors;\n    msg.status = 'invalid';\n} else {\n    msg.status = 'valid';\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [
      [
        "es-error-handling"
      ]
    ]
  },
  {
    "id": "es-error-handling",
    "type": "switch",
    "z": "energy-storage-simulation",
    "name": "Error Check",
    "property": "status",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "valid",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "invalid",
        "vt": "str"
      }
    ],
    "check": "all",
    "repair": false,
    "outputs": 2,
    "x": 520,
    "y": 200,
    "wires": [
      [
        "es-data-transformer"
      ],
      [
        "es-error-log"
      ]
    ]
  },
  {
    "id": "es-data-transformer",
    "type": "function",
    "z": "energy-storage-simulation",
    "name": "Data Transformer",
    "func": "// Transform data for InfluxDB 2.x format\nconst data = msg.payload;\n\n// Ensure all numeric values are properly converted\nconst temperature = parseFloat(data.data.temperature) || 0;\nconst stateOfCharge = parseFloat(data.data.state_of_charge) || 0;\nconst voltage = parseFloat(data.data.voltage) || 0;\nconst current = parseFloat(data.data.current) || 0;\nconst power = parseFloat(data.data.power) || 0;\nconst capacity = parseFloat(data.data.capacity) || 0;\nconst degradation = parseFloat(data.data.degradation) || 1.0;\n\n// Use simulated efficiency (already in ±2% corridor)\nconst efficiency = parseFloat(data.data.efficiency) || 92.0;\n\n// The Node-RED InfluxDB output node expects fields directly in the payload\n// and tags as separate message properties\nmsg.payload = {\n    temperature: temperature,\n    state_of_charge: stateOfCharge,\n    voltage: voltage,\n    current: current,\n    power: power,\n    capacity: capacity,\n    degradation: degradation,\n    efficiency: efficiency\n};\n\n// Set tags as message properties\nmsg.device_id = data.device_id;\nmsg.device_type = data.device_type;\nmsg.location = data.location || 'unknown';\nmsg.status = data.status || 'operational';\n\n// Set timestamp\nmsg.timestamp = new Date(data.timestamp).getTime();\n\n// Add debug information\nnode.log('✅ Energy storage data transformed for InfluxDB:');\nnode.log('  - Temperature: ' + temperature + ' °C');\nnode.log('  - State of Charge: ' + stateOfCharge + ' %');\nnode.log('  - Voltage: ' + voltage + ' V');\nnode.log('  - Current: ' + current + ' A');\nnode.log('  - Power: ' + power + ' W');\nnode.log('  - Capacity: ' + capacity + ' kWh');\nnode.log('  - Degradation: ' + degradation);\nnode.log('  - Efficiency: ' + efficiency + ' %');\nnode.log('  - Fields count: ' + Object.keys(msg.payload).length);\nnode.log('  - Tags: device_id=' + msg.device_id + ', device_type=' + msg.device_type);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 160,
    "wires": [
      [
        "es-influxdb-writer",
        "es-success-log"
      ]
    ]
  },
  {
    "id": "es-influxdb-writer",
    "type": "influxdb out",
    "z": "energy-storage-simulation",
    "influxdb": "influxdb-config",
    "name": "InfluxDB Writer",
    "measurement": "energy-storage",
    "precision": "ms",
    "precisionV18FluxV20": "ms",
    "org": "renewable_energy_org",
    "bucket": "renewable_energy",
    "tags": "device_id={{device_id}},device_type={{device_type}},location={{location}},status={{status}}",
    "x": 720,
    "y": 160,
    "wires": [
      [
        "es-success-log"
      ]
    ]
  },
  {
    "id": "es-success-log",
    "type": "debug",
    "z": "energy-storage-simulation",
    "name": "Energy Storage Success Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 920,
    "y": 160,
    "wires": []
  },
  {
    "id": "es-error-log",
    "type": "debug",
    "z": "energy-storage-simulation",
    "name": "Error Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 200,
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "influxdb-config",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "name": "InfluxDB",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false,
    "token": "renewable_energy_admin_token_123",
    "organization": "renewable_energy_org",
    "bucket": "renewable_energy"
  }
]