node-red/flows/v2.0-heat-boiler-simulation.json
[
  {
    "id": "hb-inject-30s",
    "type": "inject",
    "z": "heat-boiler-simulation",
    "name": "3s Interval",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 80,
    "wires": [
      [
        "hb-simulation-function"
      ]
    ]
  },
  {
    "id": "hb-simulation-function",
    "type": "function",
    "z": "heat-boiler-simulation",
    "name": "Stirling-Ogniwo-Magazyn Data Generator",
    "func": "// Heat Boiler Data Simulation with strict +/-2% corridor (consecutive values)\nconst now = new Date();\n\nconst INITIAL_VALUES = {\n    \"ambient_temperature\": 20.0,\n    \"fuel_flow_rate\": 15.0,\n    \"water_temperature\": 80.0,\n    \"pressure\": 2.0,\n    \"efficiency\": 85.0,\n    \"heat_output\": 134.0\n};\n\nconst LIMITS = {\n    \"ambient_temperature\": {\n        \"min\": -20,\n        \"max\": 50\n    },\n    \"fuel_flow_rate\": {\n        \"min\": 0,\n        \"max\": 30\n    },\n    \"water_temperature\": {\n        \"min\": 50,\n        \"max\": 100\n    },\n    \"pressure\": {\n        \"min\": 1,\n        \"max\": 4\n    },\n    \"efficiency\": {\n        \"min\": 60,\n        \"max\": 98\n    },\n    \"heat_output\": {\n        \"min\": 0,\n        \"max\": 300\n    }\n};\n\n// Initialize state to track previous values\nif (!global.state_heat_system) {\n    global.state_heat_system = INITIAL_VALUES;\n}\n\nconst prev = global.state_heat_system;\n\n// Generate next value within +/-2% of previous value\nfunction nextValue(key) {\n    const prevVal = prev[key];\n    if (typeof prevVal !== 'number') {\n        return prevVal;\n    }\n    \n    // Calculate +/-2% corridor\n    const corridor = Math.abs(prevVal) * 0.02;\n    const change = (Math.random() - 0.5) * 2 * corridor;\n    const newVal = prevVal + change;\n    \n    // Apply physical limits\n    const limit = LIMITS[key] || {};\n    const min = typeof limit.min === 'number' ? limit.min : newVal;\n    const max = typeof limit.max === 'number' ? limit.max : newVal;\n    \n    return Math.max(min, Math.min(max, newVal));\n}\n\nfunction roundValue(value) {\n    return Math.round(value * 100) / 100;\n}\n\n// Generate data\nconst data = {};\nfor (const key of Object.keys(INITIAL_VALUES)) {\n    data[key] = roundValue(nextValue(key));\n}\n\n// Update state with new values\nglobal.state_heat_system = data;\n\nconst payload = {\n    device_id: 'heat_system',\n    device_type: 'heat_boiler',\n    timestamp: now.toISOString(),\n    data,\n    status: 'operational',\n    location: 'site_d',\n    fault_type: null\n};\n\nmsg.payload = payload;\nmsg.topic = 'devices/heat_boiler/heat_system/telemetry';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [
      [
        "hb-mqtt-output"
      ]
    ]
  },
  {
    "id": "hb-mqtt-output",
    "type": "mqtt out",
    "z": "heat-boiler-simulation",
    "name": "MQTT Output (Publish)",
    "topic": "",
    "qos": "1",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-config",
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "hb-mqtt-input",
    "type": "mqtt in",
    "z": "heat-boiler-simulation",
    "name": "MQTT Input (Subscribe)",
    "topic": "devices/heat_boiler/+/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [
      [
        "hb-validation"
      ]
    ]
  },
  {
    "id": "hb-validation",
    "type": "function",
    "z": "heat-boiler-simulation",
    "name": "Data Validation",
    "func": "// Validate heat boiler data received from MQTT\nconst data = msg.payload;\nconst errors = [];\n\n// Check required fields\nif (!data.device_id || !data.timestamp || !data.data) {\n    errors.push('Missing required fields');\n}\n\n// Validate data ranges\nconst ranges = {\n    ambient_temperature: { min: -20, max: 50 },\n    fuel_flow_rate: { min: 0, max: 30 },\n    water_temperature: { min: 50, max: 100 },\n    pressure: { min: 1.0, max: 4.0 },\n    efficiency: { min: 60, max: 98 },\n    heat_output: { min: 0, max: 300 }\n};\n\nfor (const [key, range] of Object.entries(ranges)) {\n    const value = data.data[key];\n    if (value < range.min || value > range.max) {\n        errors.push(`${key} out of range: ${value} (${range.min}-${range.max})`);\n    }\n}\n\n// Check for physical consistency\nif (data.data.water_temperature < data.data.ambient_temperature) {\n    errors.push('Water temperature below ambient temperature');\n}\n\nif (data.data.efficiency > 95) {\n    errors.push('Efficiency exceeds realistic maximum');\n}\n\nif (data.data.pressure > 3.5 && data.data.water_temperature < 90) {\n    errors.push('High pressure with low water temperature');\n}\n\nif (errors.length > 0) {\n    msg.error = errors;\n    msg.status = 'invalid';\n} else {\n    msg.status = 'valid';\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [
      [
        "hb-error-handling"
      ]
    ]
  },
  {
    "id": "hb-error-handling",
    "type": "switch",
    "z": "heat-boiler-simulation",
    "name": "Error Check",
    "property": "status",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "valid",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "invalid",
        "vt": "str"
      }
    ],
    "check": "all",
    "repair": false,
    "outputs": 2,
    "x": 520,
    "y": 200,
    "wires": [
      [
        "hb-data-transformer"
      ],
      [
        "hb-error-log"
      ]
    ]
  },
  {
    "id": "hb-data-transformer",
    "type": "function",
    "z": "heat-boiler-simulation",
    "name": "Data Transformer",
    "func": "// Transform data for InfluxDB 2.x format\nconst data = msg.payload;\n\n// Ensure all numeric values are properly converted\nconst ambientTemp = parseFloat(data.data.ambient_temperature) || 0;\nconst fuelFlowRate = parseFloat(data.data.fuel_flow_rate) || 0;\nconst waterTemp = parseFloat(data.data.water_temperature) || 0;\nconst pressure = parseFloat(data.data.pressure) || 0;\nconst efficiency = parseFloat(data.data.efficiency) || 0;\nconst heatOutput = parseFloat(data.data.heat_output) || 0;\n\n// Calculate COP (Coefficient of Performance) if not provided\nconst cop = data.data.cop ? parseFloat(data.data.cop) : \n    (heatOutput > 0 && fuelFlowRate > 0) ? (heatOutput / (fuelFlowRate * 10.5)) : 0;\n\n// The Node-RED InfluxDB output node expects fields directly in the payload\n// and tags as separate message properties\nmsg.payload = {\n    ambient_temperature: ambientTemp,\n    fuel_flow_rate: fuelFlowRate,\n    water_temperature: waterTemp,\n    pressure: pressure,\n    efficiency: efficiency,\n    heat_output: heatOutput,\n    cop: cop\n};\n\n// Set tags as message properties\nmsg.device_id = data.device_id;\nmsg.device_type = data.device_type;\nmsg.location = data.location || 'unknown';\nmsg.status = data.status || 'operational';\n\n// Set timestamp\nmsg.timestamp = new Date(data.timestamp).getTime();\n\n// Add debug information\nnode.log('✅ Heat boiler data transformed for InfluxDB:');\nnode.log('  - Ambient Temperature: ' + ambientTemp + ' °C');\nnode.log('  - Fuel Flow Rate: ' + fuelFlowRate + ' L/h');\nnode.log('  - Water Temperature: ' + waterTemp + ' °C');\nnode.log('  - Pressure: ' + pressure + ' bar');\nnode.log('  - Efficiency: ' + efficiency + ' %');\nnode.log('  - Heat Output: ' + heatOutput + ' kW');\nnode.log('  - COP: ' + cop);\nnode.log('  - Fields count: ' + Object.keys(msg.payload).length);\nnode.log('  - Tags: device_id=' + msg.device_id + ', device_type=' + msg.device_type);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 160,
    "wires": [
      [
        "hb-influxdb-writer",
        "hb-success-log"
      ]
    ]
  },
  {
    "id": "hb-influxdb-writer",
    "type": "influxdb out",
    "z": "heat-boiler-simulation",
    "influxdb": "influxdb-config",
    "name": "InfluxDB Writer",
    "measurement": "heat-boiler",
    "precision": "ms",
    "precisionV18FluxV20": "ms",
    "org": "renewable_energy_org",
    "bucket": "renewable_energy",
    "tags": "device_id={{device_id}},device_type={{device_type}},location={{location}},status={{status}}",
    "x": 720,
    "y": 160,
    "wires": [
      [
        "hb-success-log"
      ]
    ]
  },
  {
    "id": "hb-success-log",
    "type": "debug",
    "z": "heat-boiler-simulation",
    "name": "Heat Boiler Success Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 920,
    "y": 160,
    "wires": []
  },
  {
    "id": "hb-error-log",
    "type": "debug",
    "z": "heat-boiler-simulation",
    "name": "Error Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 200,
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "influxdb-config",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "name": "InfluxDB",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false,
    "token": "renewable_energy_admin_token_123",
    "organization": "renewable_energy_org",
    "bucket": "renewable_energy"
  }
]