node-red/flows/v2.0-algae-farm-1-simulation.json
[
  {
    "id": "algy-inject",
    "type": "inject",
    "z": "algae-farm-1-simulation",
    "name": "3s Interval",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 80,
    "wires": [
      [
        "algy-simulation-function"
      ]
    ]
  },
  {
    "id": "algy-simulation-function",
    "type": "function",
    "z": "algae-farm-1-simulation",
    "name": "Farma do produkcji Alg 1 Data Generator",
    "func": "// Algae Farm 1 Data Simulation with strict +/-2% corridor (consecutive values)\nconst now = new Date();\n\nconst INITIAL_VALUES = {\n    \"temperature\": 25.0,\n    \"ph\": 7.5,\n    \"nitrogen\": 15.0,\n    \"phosphorus\": 2.0,\n    \"biomass\": 500.0,\n    \"biomass_production\": 50.0,\n    \"co2_consumption\": 90.0,\n    \"oxygen_production\": 60.0,\n    \"growth_rate\": 10.0\n};\n\nconst LIMITS = {\n    \"temperature\": {\n        \"min\": 15,\n        \"max\": 40\n    },\n    \"ph\": {\n        \"min\": 6.5,\n        \"max\": 8.5\n    },\n    \"nitrogen\": {\n        \"min\": 5,\n        \"max\": 30\n    },\n    \"phosphorus\": {\n        \"min\": 0.5,\n        \"max\": 5\n    },\n    \"biomass\": {\n        \"min\": 100,\n        \"max\": 1000\n    },\n    \"biomass_production\": {\n        \"min\": 0,\n        \"max\": 100\n    },\n    \"co2_consumption\": {\n        \"min\": 0,\n        \"max\": 200\n    },\n    \"oxygen_production\": {\n        \"min\": 0,\n        \"max\": 150\n    },\n    \"growth_rate\": {\n        \"min\": 0,\n        \"max\": 20\n    }\n};\n\n// Initialize state to track previous values\nif (!global.state_algy) {\n    global.state_algy = INITIAL_VALUES;\n}\n\nconst prev = global.state_algy;\n\n// Generate next value within +/-2% of previous value\nfunction nextValue(key) {\n    const prevVal = prev[key];\n    if (typeof prevVal !== 'number') {\n        return prevVal;\n    }\n    \n    // Calculate +/-2% corridor\n    const corridor = Math.abs(prevVal) * 0.02;\n    const change = (Math.random() - 0.5) * 2 * corridor;\n    const newVal = prevVal + change;\n    \n    // Apply physical limits\n    const limit = LIMITS[key] || {};\n    const min = typeof limit.min === 'number' ? limit.min : newVal;\n    const max = typeof limit.max === 'number' ? limit.max : newVal;\n    \n    return Math.max(min, Math.min(max, newVal));\n}\n\nfunction roundValue(value) {\n    return Math.round(value * 100) / 100;\n}\n\n// Generate data\nconst data = {};\nfor (const key of Object.keys(INITIAL_VALUES)) {\n    data[key] = roundValue(nextValue(key));\n}\n\n// Update state with new values\nglobal.state_algy = data;\n\nconst payload = {\n    device_id: 'algy',\n    device_type: 'algae_farm',\n    timestamp: now.toISOString(),\n    data,\n    status: 'operational',\n    location: 'site_f',\n    fault_type: null\n};\n\nmsg.payload = payload;\nmsg.topic = 'devices/algae_farm/algy/telemetry';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [
      [
        "algy-mqtt-output"
      ]
    ]
  },
  {
    "id": "algy-mqtt-output",
    "type": "mqtt out",
    "z": "algae-farm-1-simulation",
    "name": "MQTT Output (Publish)",
    "topic": "",
    "qos": "1",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-config",
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "algy-mqtt-input",
    "type": "mqtt in",
    "z": "algae-farm-1-simulation",
    "name": "MQTT Input (Subscribe)",
    "topic": "devices/algae_farm/+/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [
      [
        "algy-validation"
      ]
    ]
  },
  {
    "id": "algy-validation",
    "type": "function",
    "z": "algae-farm-1-simulation",
    "name": "Data Validation",
    "func": "// Validate algae farm data received from MQTT\nconst data = msg.payload;\nconst errors = [];\n\n// Check required fields\nif (!data.device_id || !data.timestamp || !data.data) {\n    errors.push('Missing required fields');\n}\n\n// Validate data ranges\nconst ranges = {\n    temperature: { min: 15, max: 40 },\n    ph: { min: 6.0, max: 9.0 },\n    nitrogen: { min: 0, max: 30 },\n    phosphorus: { min: 0, max: 5 },\n    biomass: { min: 0, max: 1500 },\n    biomass_production: { min: 0, max: 100 },\n    co2_consumption: { min: 0, max: 200 },\n    oxygen_production: { min: 0, max: 150 },\n    growth_rate: { min: 0, max: 20 }\n};\n\nfor (const [key, range] of Object.entries(ranges)) {\n    const value = data.data[key];\n    if (value < range.min || value > range.max) {\n        errors.push(`${key} out of range: ${value} (${range.min}-${range.max})`);\n    }\n}\n\n// Check for physical consistency\nif (data.data.biomass_production > 0 && data.data.co2_consumption < data.data.biomass_production * 1.5) {\n    errors.push('CO2 consumption too low for biomass production');\n}\n\nif (errors.length > 0) {\n    msg.error = errors;\n    msg.status = 'invalid';\n} else {\n    msg.status = 'valid';\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [
      [
        "algy-error-handling"
      ]
    ]
  },
  {
    "id": "algy-error-handling",
    "type": "switch",
    "z": "algae-farm-1-simulation",
    "name": "Error Check",
    "property": "status",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "valid",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "invalid",
        "vt": "str"
      }
    ],
    "check": "all",
    "repair": false,
    "outputs": 2,
    "x": 520,
    "y": 200,
    "wires": [
      [
        "algy-data-transformer"
      ],
      [
        "algy-error-log"
      ]
    ]
  },
  {
    "id": "algy-data-transformer",
    "type": "function",
    "z": "algae-farm-1-simulation",
    "name": "Data Transformer",
    "func": "// Transform data for InfluxDB 2.x format\nconst data = msg.payload;\n\n// Ensure all numeric values are properly converted\nconst temperature = parseFloat(data.data.temperature) || 0;\nconst ph = parseFloat(data.data.ph) || 0;\nconst nitrogen = parseFloat(data.data.nitrogen) || 0;\nconst phosphorus = parseFloat(data.data.phosphorus) || 0;\nconst biomass = parseFloat(data.data.biomass) || 0;\nconst biomassProduction = parseFloat(data.data.biomass_production) || 0;\nconst co2Consumption = parseFloat(data.data.co2_consumption) || 0;\nconst oxygenProduction = parseFloat(data.data.oxygen_production) || 0;\nconst growthRate = parseFloat(data.data.growth_rate) || 0;\n\n// The Node-RED InfluxDB output node expects fields directly in the payload\n// and tags as separate message properties\nmsg.payload = {\n    temperature: temperature,\n    ph: ph,\n    nitrogen: nitrogen,\n    phosphorus: phosphorus,\n    biomass: biomass,\n    biomass_production: biomassProduction,\n    co2_consumption: co2Consumption,\n    oxygen_production: oxygenProduction,\n    growth_rate: growthRate\n};\n\n// Set tags as message properties\nmsg.device_id = data.device_id;\nmsg.device_type = data.device_type;\nmsg.location = data.location || 'unknown';\nmsg.status = data.status || 'operational';\n\n// Set timestamp\nmsg.timestamp = new Date(data.timestamp).getTime();\n\n// Add debug information\nnode.log('✅ Algae Farm 1 data transformed for InfluxDB:');\nnode.log('  - Temperature: ' + temperature + ' °C');\nnode.log('  - pH: ' + ph);\nnode.log('  - Nitrogen: ' + nitrogen + ' mg/L');\nnode.log('  - Phosphorus: ' + phosphorus + ' mg/L');\nnode.log('  - Biomass: ' + biomass + ' kg/m³');\nnode.log('  - Biomass Production: ' + biomassProduction + ' kg/m³/day');\nnode.log('  - CO2 Consumption: ' + co2Consumption + ' g/m³/h');\nnode.log('  - Oxygen Production: ' + oxygenProduction + ' g/m³/h');\nnode.log('  - Growth Rate: ' + growthRate + ' %/day');\nnode.log('  - Fields count: ' + Object.keys(msg.payload).length);\nnode.log('  - Tags: device_id=' + msg.device_id + ', device_type=' + msg.device_type);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 160,
    "wires": [
      [
        "algy-influxdb-writer",
        "algy-success-log"
      ]
    ]
  },
  {
    "id": "algy-influxdb-writer",
    "type": "influxdb out",
    "z": "algae-farm-1-simulation",
    "influxdb": "influxdb-config",
    "name": "InfluxDB Writer",
    "measurement": "algae-farm-1",
    "precision": "ms",
    "precisionV18FluxV20": "ms",
    "org": "renewable_energy_org",
    "bucket": "renewable_energy",
    "tags": "device_id={{device_id}},device_type={{device_type}},location={{location}},status={{status}}",
    "x": 720,
    "y": 160,
    "wires": [
      [
        "algy-success-log"
      ]
    ]
  },
  {
    "id": "algy-success-log",
    "type": "debug",
    "z": "algae-farm-1-simulation",
    "name": "Algae Farm 1 Success Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 920,
    "y": 160,
    "wires": []
  },
  {
    "id": "algy-error-log",
    "type": "debug",
    "z": "algae-farm-1-simulation",
    "name": "Error Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 200,
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "influxdb-config",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "name": "InfluxDB",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false,
    "token": "renewable_energy_admin_token_123",
    "organization": "renewable_energy_org",
    "bucket": "renewable_energy"
  }
]